/* Override the Bootstrap class to prevent collapsing of the navbar */
.navbar-collapse.collapse {
  display: block !important;
}

.fake-h2 {
  font-size: 30px;
}

.hidden {
  display: none;
}


.indent {
  text-indent: 2em;
}