/* Override the Bootstrap class to prevent collapsing of the navbar */
.navbar-collapse.collapse {
  display: block !important;
}

.fake-h2 {
  font-size: 30px;
}

.navbar-h1 {
  display: none;
}

.indent::first-line {
  display: block;
  padding-left: 40px; /* Adjust the value to control the indentation level */
  text-indent: -40px; /* Adjust the value to counteract the padding on the first line */
}